## input and output methods  
- reading the data or information from the user---***input()***  
  - static input  
  - dynamical input  
- displaying the information or data to the user-----***print()***

In [1]:
a=20  
b=30  
print(a)  
print(b)

20
30

In [2]:
a=input()  
a

manikanta

'manikanta  '

In [3]:
a=input()  
a

345

'345'

In [4]:
a=input("enter user value")  
a

enter user value687

'687  '

In [5]:
a=input("enter user value")  
a

enter user value567

'567'

In [6]:
a=float(input("enter user value"))  
a

enter user value345

345.0

In [2]:
a=input("enter a value")  
print(a)

enter a value54
54

In [3]:
a=20  
b=30  
c=50  
print(a,b,c,sep=",",end="%")

20,30,50%

In [6]:
a=20  
b=30  
c=50  
print(a,b,c,sep=",")  
print(c)

20,30,50
50

 generate three values from the user ,that values seperated with $ and end with %

In [9]:
x=input("enter x value")  
y=input("enter y value")  
z=input("enter z value")  
print(x,y,z,sep="$",end="%")

enter x value25
enter y value35
enter z value45
25$35$45%

### operators  
- arthimetic operators(+,-,*,**,/,//,%)  
    - output for the normal division is quotient  
    - output for the int division or floor division is integer part of the quotient  
    - output for the modulo division is reminder    
- asssignment operators(=)    
- comparison operators(<,>,<=,>=,==)      
- logical operators(and,or,not)    
- bitwise operators(&,|,^)    
- identity operators(is(==),isnot(!=)    
- membership operators(in,notin)

### arithmatic operators

In [10]:
a=34  
b=67  
print("addtion",a+b)    
print("subraction",a-b)  
print("multiplication",a*b)   
print("power",a**b)  
print("division",a/b)  
print("modulo division",a%b)  
print("int division or floor division",a//b)

addtion 101
subraction -33
multiplication 2278
power 4065251716212557932550840533486793017502084747731049146444657475519303778647807844035539194338024095744
division 0.5074626865671642
modulo division 34
int division or floor division 0

### comparison operators

In [11]:
34>9  
56<99

True

In [12]:
57<9

False

In [16]:
a=44  
b=66  
c=77  
if a<b : 
    print("c as big")  
else  :
    print("a as small")

c as big

### logical operators  
- and,or,not  
- if all the inputs are true the output is true(and)  
- or in input one condition is true then the output will be true  
- not if the input true then the output is false

In [17]:
# example for and #  
6>4 and 7>6

True

In [18]:
# example for or #  
4>6 or 7<0

False

In [20]:
# example for not #  
a=22  
not a

False

### bitwise operators

In [30]:
2 & 3  
# 2- 0 0 1 0  
# 3- 0 0 1 1  
# ------------    
# - 0 0 1 0   #

2

In [22]:
3|4

7

In [31]:
2<<3

16

In [32]:
2>>3

0

### identity opoerstors

In [34]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Lab\AppData\Local\Temp/ipykernel_2700/3974128756.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
C:\Users\Lab\AppData\Local\Temp/ipykernel_2700/3974128756.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [35]:
a==100 and a!=100

False

### membership operstors

In [36]:
s=[1,2,3,4,6,8]  
4 in s

True

In [37]:
10 not in s

True

In [38]:
2 not in s

False

In [41]:
a= 20  
a=a+1
a

21

### AUTO INCREMENT  AND AUTO DECREMENT

In [57]:
a=8      
a+=1

In [58]:
a

9

In [59]:
a=8  
a-=1

In [60]:
a

7

In [61]:
a*=1  
print(a)

7

In [62]:
a/=1  
print(a)

7.0

### flow control  
- conditional statements(if,else,nested ifelseif)  
- loops(for,while)  
- break,return

In [63]:
# c-language  
if(condtion){
    print(a)  
}

SyntaxError: invalid syntax (Temp/ipykernel_2700/3007452066.py, line 2)

### conditional statements

In [ ]:
# if
if(condition):  
    statement1  
    statement2  
    statement3  
    ---------  
    statementn

In [ ]:
# if-else   
if(condition):  
    statement1  
    statement2  
    statement3  
    --------- 
    statementn  
else:  
    statement1  
    statement2  
    ---------   
    statementn

In [64]:
if 2>3:  
    print("true")

In [65]:
if 2>3:  
    print("true")  
else:  
    print("false")

false

In [67]:
# given number is even or odd   
n=int(input("enter the  number"))  
if(n%2==0):   
    print("even number")  
else:  
    print("odd number")

enter the  number28
even number

In [72]:
# given number is zer0 positive or negative  
b=int(input("enter the number"))  
if(b>0):  
    print("the number is positive")  
elif(b<0):
    print("the number is negative")  
elif(b==0):
    print("the number is zero")

enter the number55
the number is positive

In [77]:
# number is divisible by 2 but not 10  
c=int(input("enter the number"))  
if(c%2==0):
    print("the number is divisible by 2 ")  
elif (c%10!=0):  
    print("the number is not divisible by 10") 
else:
    print("not divisible by both numbers")

enter the number6
the number is divisible by 2

In [78]:
a=33  
if a%2==0 and a%10!=0:  
    print("valid number")
else:  
    print("invalid number")

invalid number

### range  
- syntax for the range is rasnge(start,endvalue,step value)  
- starting value is inclusive and end value is exclusive

In [79]:
range(start,end,step)

NameError: name 'start' is not defined

In [ ]:
range(10,20,1)  
# 10,11,12,13,14,15,16,17,18,19  
range(20,30,2)  
# 20,22,24,26,28  
range(20,41,5)  
# 25,30,35,40  
range(50)   
# consider as start value  
range(20,30)  
# consider start value and end value  
# reverse print  
range(10,1,-1)

In [90]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [92]:
list(range(20,30,2))

[20, 22, 24, 26, 28]

In [91]:
list(range(20,41,5))

[20, 25, 30, 35, 40]

In [93]:
list(range(50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [94]:
list(range(20,30))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [95]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]