### WHILE LOOP
- it exicutes block of set of instructions until the condition is false  
- while we dont the range  
- exicute faster than for loop  
- user incrementation

In [ ]:
# while syntax  
intialization  
while condition:  
    statements  
    incr/decrement

In [3]:
n=1  
while n<=5:  
    print("vasavi college")  
    n=n+1

vasavi college
vasavi college
vasavi college
vasavi college
vasavi college

In [4]:
n=10  
while n>=1:  
    print(n,end=" ")  
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [6]:
# i/p 1234  
# o/p digit count:4  
s=int(input())  
c=0  
while(s!=0): #1234=0  123!=0 12!=0 1!=0  
    c=c+1    #1234%10 123%10  
    s=s//10  
print("\ndigit count:",c)

4674745676

digit count: 10

In [4]:
# check the givennumber palindrome or not  
# 121--- 121  
# mom---mom  
n=int(input())  
s=0  
p=n  
while(n!=0):  
    r=n%10  
    s=(s*10)+r  
    n=n//10  
if(s==p):  
    print("the number is palindrome")  
else:  
    print("not palindrome")

343
the number is palindrome

In [ ]:
# syntax::nested for loop  
for iter in range(start,end,step):  
    for iter in range(start,end,step):  
        statement1  
        statementn

In [ ]:
# matrix format  
- rows,columns  
- 2dimensions  
    1 2 3  
    1 2 3

In [6]:
for row in range(1,5):  
    for column in range(1,5):  
        print(row,end=" ")  
    print()# new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [7]:
for row in range(1,6):  
    for column in range(1,9):  
        print("*",end=" ")  
    print()# new line

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [8]:
for i in range(1,6):  
    for k in range(1,i+1):  
        print("*",end=" ")  
    print()# new line

*
* *
* * *
* * * *
* * * * *

In [9]:
for i in range(1,6):  
    for k in range(1,i+1):  
        print("*",end=" ")  
    print()# new line  
for i in range(6,0,-1):  
    for k in range(1,i+1):  
        print("*",end=" ")  
    print()# new line

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
# 1-10  
# prime numbers: 2,3,5,7   
st=int(input())  
en=int(input())  
for num in range(st,en+1): #num=1 num=2 num=3 num=4 
    c=0  
    for var in range(1,num+1):#(1,1)(1,2)(1,3)(1,4)
        if num%var==0:  # factors  

            c=c+1  
    if c==2:  
        print(num,end=" ")

2
10
2 3 5 7

In [17]:
# 1-10 tables  
n=1  
for k in range(1,11):  
    for l in range(1,11):  
        print(n*l)  
    print()  
    n=n+1

1
2
3
4
5
6
7
8
9
10

2
4
6
8
10
12
14
16
18
20

3
6
9
12
15
18
21
24
27
30

4
8
12
16
20
24
28
32
36
40

5
10
15
20
25
30
35
40
45
50

6
12
18
24
30
36
42
48
54
60

7
14
21
28
35
42
49
56
63
70

8
16
24
32
40
48
56
64
72
80

9
18
27
36
45
54
63
72
81
90

10
20
30
40
50
60
70
80
90
100

In [ ]:
# nested while  
- loop inside another loop
# syntax  
intilization  
while condition:  
    statements  
    incr/decr  
    while condition:  
        statements  
        incr/decr

In [3]:
# 1 to 10 tables  
i=1  
while i<=10:  
    j=1  
    while j<=10:  
        print(i,"*",j,"=",i*j)  
        j+=1  
    print()  
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### jump statements  
- break  
- continue  
- pass  
- we called as unconditional jumps

### break  
- terminates the current loop statements  
- break is a keyword

In [4]:
for i in "python":  
    if i=='h':  
        break  
    print(i)

p
y
t

In [16]:
i=1 
while(i<=10): 
    i+=1  
    if i==6:  
        break  
    print(i)

2
3
4
5

### continue  
- it skips only current iteration and continue the next  
- continue is also a keyword

In [18]:
for i in range(10):  
    if i==6:  
        continue  
        print("fffgb")  
    print(i)

0
1
2
3
4
5
7
8
9

In [23]:
# print odd numbers  
for i in range(10):  
    if(i%2==0):  
        continue  
    print(i)

1
3
5
7
9

### pass  
- it is a keyword  
- when we need condition scientifically correct need to change another operation  
- it will give a NULL operation  
- pass statement we use to create empty classes also

In [26]:
s="python"  
for i in s:  
    if i=='h':  
        pass  
        print("pass excuted")  
    print(i)

p
y
t
pass excuted
h
o
n

### Strings  
- string is a group of characters  
- string is a immutable because we cant change tha values   
- all strings return a new values

In [27]:
a="vasavi college"  
print(type(a))

<class 'str'>

In [28]:
print(len(a))

14

In [29]:
print(min(a))

In [30]:
print(max(a))

v

In [31]:
print(sorted(a))

[' ', 'a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [32]:
s="python"  
s1="workshop"  
print(s+s1)  
print(s,s1)

pythonworkshop
python workshop

In [37]:
# slicing syntax::(start:end:step)  
# postive indexing(left to right)  
# negative indexing(right to left)  
s="python workshop"  
print(len(s))  
print(s[0])  
print(s[14])  
print(s[-1])  
print(s[5])  
print(s[-2]) 
print(s[::])  
print(s[::-1])  
print(s[0:4])  
print(s[5:12])   
print(s[-1:5])

15
p
p
p
n
o
python workshop
pohskrow nohtyp
pyth
n works

In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [6]:
s='vasavi college'  
s="vasavi college"  
s1='''i am from apssdc i am manikanta'''  
s2="""engineering department hjhgjhjjyjn"""

In [7]:
print(s1)

i am from apssdc i am manikanta

In [9]:
print(s2)

engineering department hjhgjhjjyjn

In [10]:
print(len(s2))

34

In [12]:
p="apssdc workshop"  
print(p.capitalize())

Apssdc workshop

In [18]:
n="grfgkgj"  
print(n)  
print(n.lower())  
print(n.upper())

grfgkgj
grfgkgj
GRFGKGJ

In [17]:
m="faculty development program"  
print(m)  
print(m.title())

faculty development program
Faculty Development Program

In [20]:
s2="workshop"  
s3="WORKSHOP"  
s4="workshop"  
print(s2.islower(),s3.isupper(),s4.isupper())

True True False

In [22]:
s7="India Is My Country"  
s7.istitle()

True

In [23]:
s7="india is my country"  
s7.istitle()

False

In [24]:
s8=" "  
s8.istitle()

False

In [25]:
# isalpha- which returns true, alphabets  present in a given string 
# isdigit- which is used to identify the digits in a given string  
r="python3"   
r.isalpha()

False

In [26]:
r.isdigit()

False

In [28]:
s="234578"  
s.isalnum()

True

In [29]:
s="my name is my manikanta i am studying b.tech 2nd year"  
s.split()

['my',
 'name',
 'is',
 'my',
 'manikanta',
 'i',
 'am',
 'studying',
 'b.tech',
 '2nd',
 'year']

In [30]:
t="bdfg@gfhnghnbnfg@khhk@khjkj2@mnmb@"  
t.split('@')

['bdfg', 'gfhnghnbnfg', 'khhk', 'khjkj2', 'mnmb', '']

In [31]:
u="tgrotirio glygk krltgkj kgghk gk tgk kgtrkgg "  
u.split('k')

['tgrotirio glyg', ' ', 'rltg', 'j ', 'ggh', ' g', ' tg', ' ', 'gtr', 'gg ']

In [35]:
m="MaNiKaNTa"  
m2=''  
for i in m:  
    if i.islower():  
        m2 +=i.upper()  
    else:  
        m2 +=i.lower()   
print(m2)

mAnIkAntA

In [36]:
#swapcase  
m.swapcase()

'mAnIkAntA'

In [38]:
s="python is latestr version and today"  
s

'python is latestr version and today'

In [39]:
#count::to know the number of occurences  
s.count('a')

3

In [40]:
s.index('t') # searching starts from the beginning

2

In [41]:
s.rindex('t') # searching starts from the ending

30

In [42]:
# find-- it will return index position of that character
s.find('t')

2

In [44]:
s.index('today')

30

In [45]:
# replace used to replace the old character  
# strip is used to remove the whitespace  
d="bye vasavi college"  
d.replace('bye','hi')

'hi vasavi college'

In [46]:
d="        hello sdc          "  
print(d)

        hello sdc

In [47]:
d.strip()

'hello sdc'

In [49]:
d.lstrip()

'hello sdc          '

In [51]:
d.rstrip()

'        hello sdc'

In [52]:
# join  
# center  
# startswith  
# endswith  
s="thursday"  
'@'.join(s)

't@h@u@r@s@d@a@y'

In [53]:
s="thursday"  
'.'.join(s)

't.h.u.r.s.d.a.y'

In [54]:
s.center(1)

'thursday'

In [55]:
s.zfill(10)

'00thursday'

In [56]:
s2="today is the 3rd day"  
len(s)  
s2.zfill(25)

'00000today is the 3rd day'

In [59]:
s2.startswith('to')

True

In [62]:
s2.startswith('day')

False

### Data structures  
- list
  - it is one of the data structure in python.
  - list is mutable  
  - represented with[]
  - slicing,indexing are same as the strings concepts.
- tuple  
- dictionaries  
dt are two types:
  - immutable  
    - we cant change it once it declared.  
    - ex:string,tuple  
  - mutable  
    - we can change at any time after its declaration.
    - ex:list,dictionaries

In [63]:
li=[3,5,6,7,8]  
print(li)

[3, 5, 6, 7, 8]

In [64]:
len(li)

5

In [65]:
print("length of the list",len(li))  
print("max one of the list",max(li))  
print("min one of the list", min(li))

length of the list 5
max one of the list 8
min one of the list 3

In [66]:
a=['apple',5,8,24,6]  
b=[4,8,'today',4]

In [67]:
a + b #concatination

['apple', 5, 8, 24, 6, 4, 8, 'today', 4]

In [68]:
b+a

[4, 8, 'today', 4, 'apple', 5, 8, 24, 6]

In [70]:
#repetation  
a*3

['apple', 5, 8, 24, 6, 'apple', 5, 8, 24, 6, 'apple', 5, 8, 24, 6]

In [71]:
(a+b)*2

['apple',
 5,
 8,
 24,
 6,
 4,
 8,
 'today',
 4,
 'apple',
 5,
 8,
 24,
 6,
 4,
 8,
 'today',
 4]

In [72]:
'apple' in a

True

In [73]:
'today' in a

False

In [75]:
'apple'not  in a

False

In [83]:
names=['mani','kedar','sandy','ramu']  
names[0]  
names[3]

'ramu'

In [84]:
names[:2]

['mani', 'kedar']

In [85]:
names[2]

'sandy'

In [87]:
s='ramesh'
s[0]  # ram
s[:3] # ram 
s[0:3] # mesh 
s[2:6] # mesh

'mesh'

In [93]:
li1=['vasavi','college','student','hostel']

In [94]:
li1[:2]

['vasavi', 'college']

In [95]:
li1[:2]

['vasavi', 'college']

In [96]:
li1[2:5]

['student', 'hostel']