### WHILE LOOP
- it exicutes block of set of instructions until the condition is false  
- while we dont the range  
- exicute faster than for loop  
- user incrementation

In [ ]:
# while syntax  
intialization  
while condition:  
    statements  
    incr/decrement

In [3]:
n=1  
while n<=5:  
    print("vasavi college")  
    n=n+1

vasavi college
vasavi college
vasavi college
vasavi college
vasavi college

In [4]:
n=10  
while n>=1:  
    print(n,end=" ")  
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [6]:
# i/p 1234  
# o/p digit count:4  
s=int(input())  
c=0  
while(s!=0): #1234=0  123!=0 12!=0 1!=0  
    c=c+1    #1234%10 123%10  
    s=s//10  
print("\ndigit count:",c)

4674745676

digit count: 10

In [4]:
# check the givennumber palindrome or not  
# 121--- 121  
# mom---mom  
n=int(input())  
s=0  
p=n  
while(n!=0):  
    r=n%10  
    s=(s*10)+r  
    n=n//10  
if(s==p):  
    print("the number is palindrome")  
else:  
    print("not palindrome")

343
the number is palindrome

In [ ]:
# syntax::nested for loop  
for iter in range(start,end,step):  
    for iter in range(start,end,step):  
        statement1  
        statementn

In [ ]:
# matrix format  
- rows,columns  
- 2dimensions  
    1 2 3  
    1 2 3

In [6]:
for row in range(1,5):  
    for column in range(1,5):  
        print(row,end=" ")  
    print()# new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [7]:
for row in range(1,6):  
    for column in range(1,9):  
        print("*",end=" ")  
    print()# new line

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [8]:
for i in range(1,6):  
    for k in range(1,i+1):  
        print("*",end=" ")  
    print()# new line

*
* *
* * *
* * * *
* * * * *

In [9]:
for i in range(1,6):  
    for k in range(1,i+1):  
        print("*",end=" ")  
    print()# new line  
for i in range(6,0,-1):  
    for k in range(1,i+1):  
        print("*",end=" ")  
    print()# new line

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
# 1-10  
# prime numbers: 2,3,5,7   
st=int(input())  
en=int(input())  
for num in range(st,en+1): #num=1 num=2 num=3 num=4 
    c=0  
    for var in range(1,num+1):#(1,1)(1,2)(1,3)(1,4)
        if num%var==0:  # factors  

            c=c+1  
    if c==2:  
        print(num,end=" ")

2
10
2 3 5 7

In [17]:
# 1-10 tables  
n=1  
for k in range(1,11):  
    for l in range(1,11):  
        print(n*l)  
    print()  
    n=n+1

1
2
3
4
5
6
7
8
9
10

2
4
6
8
10
12
14
16
18
20

3
6
9
12
15
18
21
24
27
30

4
8
12
16
20
24
28
32
36
40

5
10
15
20
25
30
35
40
45
50

6
12
18
24
30
36
42
48
54
60

7
14
21
28
35
42
49
56
63
70

8
16
24
32
40
48
56
64
72
80

9
18
27
36
45
54
63
72
81
90

10
20
30
40
50
60
70
80
90
100

In [ ]:
# nested while  
- loop inside another loop
# syntax  
intilization  
while condition:  
    statements  
    incr/decr  
    while condition:  
        statements  
        incr/decr

In [3]:
# 1 to 10 tables  
i=1  
while i<=10:  
    j=1  
    while j<=10:  
        print(i,"*",j,"=",i*j)  
        j+=1  
    print()  
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### jump statements  
- break  
- continue  
- pass  
- we called as unconditional jumps

### break  
- terminates the current loop statements  
- break is a keyword

In [4]:
for i in "python":  
    if i=='h':  
        break  
    print(i)

p
y
t

In [16]:
i=1 
while(i<=10): 
    i+=1  
    if i==6:  
        break  
    print(i)

2
3
4
5

### continue  
- it skips only current iteration and continue the next  
- continue is also a keyword

In [18]:
for i in range(10):  
    if i==6:  
        continue  
        print("fffgb")  
    print(i)

0
1
2
3
4
5
7
8
9

In [23]:
# print odd numbers  
for i in range(10):  
    if(i%2==0):  
        continue  
    print(i)

1
3
5
7
9

### pass  
- it is a keyword  
- when we need condition scientifically correct need to change another operation  
- it will give a NULL operation  
- pass statement we use to create empty classes also

In [26]:
s="python"  
for i in s:  
    if i=='h':  
        pass  
        print("pass excuted")  
    print(i)

p
y
t
pass excuted
h
o
n

### Strings  
- string is a group of characters  
- string is a immutable because we cant change tha values   
- all strings return a new values

In [27]:
a="vasavi college"  
print(type(a))

<class 'str'>

In [28]:
print(len(a))

14

In [29]:
print(min(a))

In [30]:
print(max(a))

v

In [31]:
print(sorted(a))

[' ', 'a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [32]:
s="python"  
s1="workshop"  
print(s+s1)  
print(s,s1)

pythonworkshop
python workshop

In [37]:
# slicing syntax::(start:end:step)  
# postive indexing(left to right)  
# negative indexing(right to left)  
s="python workshop"  
print(len(s))  
print(s[0])  
print(s[14])  
print(s[-1])  
print(s[5])  
print(s[-2]) 
print(s[::])  
print(s[::-1])  
print(s[0:4])  
print(s[5:12])   
print(s[-1:5])

15
p
p
p
n
o
python workshop
pohskrow nohtyp
pyth
n works